# Environment
.env

# Python
__pycache__/
*.py[cod]
*.so
.Python
.pytest_cache/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Project specific
temp_repos/

.DS_Store

# Logs
logs/
*.log
